table, tr, td {
    margin: 0px;
}

.body {
}

.navbar {
}

.valinta { 
    text-align: center;
    border-right-style: solid;
    border-right-width: 0.2em;
}

.info {
    vertical-align: top;
}

.right {
    text-align: right;
    width: 100%;
}

.desc {
    text-align: left;
    width: 18em;
    border-left-style: solid;
    border-left-width: 0.2em;
}

.luokka {
    background-color: yellow;
}

.cabin {
    padding-bottom: 1em;
}

.nick {
    font-size: large;
    font-weight: bold;
    border-bottom-style: solid;
    border-bottom-width: 0.2em;
}

.filler {
    height: 2em;
}

.name {
    
    width: 10em;
}

.center {
    text-align: center;
}

.input {
    font-weight: 600;
}

.otsikko {
    font-size: 250%;
    font-weight: bold;
}